.container .text {
    text-align: center;
    color: #ffffff;
    margin-top: 5%;
}

.contact {
    padding: 4%;
    height: 400px;
}

.col-md-4 {
    background: #000000;
    color: #D4FF67;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info {
    margin-top: 10%;
}

.contact-info img {
    margin-bottom: 15%;
}

.contact-info h2 {
    margin-bottom: 10%;
}

.col-md-8 {
    background: #000000;
    color: #D4FF67;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.form-group{
    margin-bottom: 3%;
}

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    background: #D4FF67;
    margin-top: 3%;
    color: #000000;
    font-weight: 600;
    width: 25%;
}

.contact-form button:focus {
    box-shadow: none;
}

.FAQ-section{
    margin-top: 15% ;
    background-color: #000000;
    color: #ffffff;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
}

.title{
    font-size: 3rem;
    margin: 2rem 0rem;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h2{
    font-size: 1.8rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq.active .answer{
    background-color: #D4FF67;
    color: #000000;
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}